
/* 
	// Falls man die verschiedenen Bereich einfärben möchte
	// In case you want to colour the different areas

	#header{
		background-color: rgb(255, 207, 207);
	}

	#numberarea{
		background-color: rgb(212, 255, 207);
	}

	#gamearea{
		background-color: rgb(212, 207, 255);
	}

	#clickarea{
		background-color: rgb(253, 255, 207);
	}

	#addons{
		background-color: rgb(207, 250, 255);
	}

	#footer{
		background-color: rgb(164, 164, 164);
	}

*/

.einfachklick:active{
	width: 195px;
}

#autoclick:active{
	background-color: #aaffaa;
}

#autoclick:disabled{
	background-color: #efefef;
}

#manualclick:hover{
	cursor: pointer;
}
#updateautoclick:active{
	background-color: #aaffaa;
}

H5{
	font-size: 22px;
	font-style: italic;
}

stats{
	font-size: 18px;
	color: #999999;
}

howmanyclicks{
	font-size: 28px;
}

infohead{
	font-weight: bold;
}

info{
	font-style: italic;
	font-size: small;
}

#changelog{
	cursor: pointer;
}

#addons{
	padding-top: 20px; 
	padding-bottom: 20px;
}

#versioninfo{
	padding-top: 10px; 
	display: none;
}

#clickarea{
	padding-top: 20px
}